<footer>
    <div class="container h-100">
        <div class="row footer-content  ml-24 mr-24">
            <div class="col-12 col-sm-6 pr-24 mb-36">
                <div class="container row align-items-center pl-12">
                    <a routerLink="/"><img class="marketplace" width="100" src="assets/images/logo.png"
                            alt="marketplace"></a>
                </div>
            </div>
            <div class="col-12 col-sm-6 right-box  mb-36">
                <p class="footer-heading fw-600">Follow Us</p>
                <div class="footer-icon">
                    <a href="https://fluidtec.ca/" target="_blank"><img src="/assets/images/web.png"
                            alt="Logo Website"></a>
                    <a href="https://www.facebook.com/profile.php?id=100074103245062" target="_blank"><img
                            src="/assets/images/facebook.png" alt="Logo Facebook"></a>
                </div>
            </div>
        </div>
        <div class="copy-right">
            © Copyright {{currentFullYear}}. Made by
            <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/md-faruque-2b7068283/">Omor
                Faruque</a>
        </div>
    </div>



</footer>