<footer>
    <div class="container h-100">
        <div class="row footer-content  ml-24 mr-24">
            <div class="col-12 col-sm-6 pr-24 mb-36">
                <div class="container">
                    <p class="footer-heading fw-600">Subscribe to our emails</p>
                    <div class="position-relative email-box">
                      <input type="email" class="s-email">
                      <img src="/assets/images/right-arrow.png" alt="Arrow Icon" width="25" class="r-arrow">
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 right-box  mb-36">
                <p class="footer-heading fw-600">Follow Us</p>
                <div class="footer-icon">
                    <a href="#" target="_blank"><img src="/assets/images/facebook.png" alt="Logo Facebook"></a>
                    <a href="#" target="_blank"><img src="/assets/images/instagram.png" alt="Logo instagram"></a>
                    <a href="#" target="_blank"><img src="/assets/images/tiktok.png" alt="Logo tiktok"></a>
                    <a href="#" target="_blank"><img src="/assets/images/pinterest.png" alt="Logo pinterest"></a>
  
                </div>
            </div>
        </div>
        <div class="copy-right">
            © Copyright {{currentFullYear}}. Made by
            <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/md-faruque-2b7068283/">Omor
                Faruque</a>
        </div>
    </div>
  
  
  
  </footer>