header {
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    z-index: 1;
    padding: 16px 0;
  }
  
  header a {
    color: var(--primary);
  }
  
  .left-menu {
    flex: 0 0 49.5%;
    max-width: 49.5%;
  }
  
  .right-menu {
    flex: 0 0 49.5%;
    max-width: 49.5%;
  }
  
  
  .marketplace {
    position: relative;
    top: 4px;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .mobile-menu img {
    position: relative;
    top: 6px;
    cursor: pointer;
  }
  
  .ham-menu-content {
    position: absolute;
    background-color: var(--grey);
    z-index: 1;
  }
  
  .ham-menu-content a {
    display: block;
    border-bottom: 1px solid var(--black);
    padding: 16px;
    text-align: right;
  }
  
  @media (max-width: 690px) {
    header {
        padding: 6px 0;
      }
    .left-menu {
      flex: 0 0 74.5%;
      max-width: 74.5%;
      text-align: left;
    }
  
    .right-menu {
      flex: 0 0 24.5%;
      max-width: 24.5%;
    }
  
    .desktop-menu {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .left-menu .container {
      padding-left: 16px;
    }
  }
  
  .cart-qty {
    position: absolute;
    left: 20px;
    top: -5px;
    background: var(--black);
    color: var(--white);
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
  }