<app-admin-header></app-admin-header>
<div class="container pt-fixed">
    <div class="row justify-content-center text-align-center signin-box">
        <div class="left-panel">
          
        </div>
        <div class="right-panel">
            
            <div class="mb-84 mt-24"> <img src="/assets/images/logo.png" alt="" width="90"> </div>
            <div>
                <input type="email">
            </div>

            <div>
                <input type="password">
            </div>

            <div><button>Signin</button></div>
        </div>
    </div>
</div>



