<app-admin-header></app-admin-header>
<div class="container pt-fixed">
    <div class="row justify-content-center text-align-center signin-box">
        <div class="left-panel">
          
        </div>
        <div class="right-panel">
            
            <div class="mb-84 mt-24"> <img src="/assets/images/logo.png" alt="" width="90"> </div>
            <div>
                <input type="email" [(ngModel)]="email">
            </div>

            <div>
                <input type="password" [(ngModel)]="password">
            </div>

            <div><button (click)="signin()">Signin</button></div>
            <p class="small-text error-color mt-24" *ngIf="displayErrorMessage">{{errorMessage}}</p>
        </div>
    </div>
</div>



