
.signin-box {
    height: 60vh;
    margin-top: 68px;
    margin-bottom: 78px;
}

.left-panel,
.right-panel {
    flex: 0 0 44.5%;
    max-width: 44.5%;
    border: 1px solid black;
    padding: 24px 48px;
}

.left-panel{
    background-image: url("/assets/images/bg-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

input {
    padding: 12px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    margin-bottom: 16px;
    width: 100%;
   
}

button {
    margin-top: 16px;
    padding: 12px;
    cursor: pointer;
}

@media (max-width: 690px) {
    input {
        padding: 12px;
    }
    .left-panel {
        display: none;
    }
    .right-panel {
        flex: 0 0 94.5%;
         max-width: 94.5%;
    }
}



