.home-hero {
    height: 100vh;
    padding-left: 10%;
    color: var(--white);
    padding-top: 20%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tracking-input {
    width: 50%;
    padding: 15px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    margin-right: 12px;
    margin-bottom: 24px;
}

.track-btn {
    width: 25%;
    cursor: pointer;
}

.error-status,
.delivery-status {
    width: fit-content;
    font-size: .9rem;
}


input:focus {
    outline: none;
}

@media (max-width: 690px) {
    .home-hero {
        height: 60vh;
    }

    .tracking-input,
    .track-btn {
        width: 80%;
        padding: 12px;
    }


}