.home-hero {
    height: 100vh;
    align-items: center;
    padding-left: 10%;

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/assets/images/hero-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tracking-no-input {
    width: 50%;
    padding: 12px;
}

@media (max-width: 690px) {
    .home-hero {
        height: 50vh;
    }

    .tracking-no-input {
        width: 80%;
    }
}