<!-- header -->
<header class="w-100 bb">
  <div class="container row justify-content-space-between p-16">
    <div class="left-menu">
      <div class="container row align-items-center pl-12">
        <a routerLink="/"><img class="marketplace" width="100" src="assets/images/logo.png" alt="marketplace"></a>
      </div>
    </div>
    <div class="right-menu">
        <div class="row justify-content-right header__main-ham-menu-cont pr-16"
          (click)="menuOpenClicked=!menuOpenClicked">
          <img src="assets/images/ham-menu.svg" alt="hamburger menu" *ngIf="!menuOpenClicked"
            class="header__main-ham-menu cursor-pointer">
          <img src="assets/images/ham-menu-close.svg" alt="hamburger menu close" *ngIf="menuOpenClicked"
            class="header__main-ham-menu-close cursor-pointer">
        </div>
    </div>
  </div>

  <div *ngIf="menuOpenClicked" class="position-relative w-100">
    <div class="ham-menu-content col-12 w-100">
      <div class="container">
        <a (click)="signOut()">Sign out</a>
      </div>
      
    </div>
  </div>


</header>