
:root {
    --white: #fff;
    --grey: #f9f9f9;
    --black: #000;
    --green: #00ff1d;
    --primary:#253746;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


html,
body {
    font-family: monospace, serif;
    font-size: 16px;
    line-height: 1.65;
    color: var(--black);
}



@media (max-width: 690px) {

    html,
    body {
        font-size: 14px;
    }
}
@media (max-width: 350px) {

    html,
    body {
        font-size: 10px;
    }
}

a {
    text-decoration: none;
}



.container {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 600px) {
    .col-sm-3 {
        flex: 0 0 24.5%;
        max-width: 24.5%;
    }

    .col-sm-4 {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-sm-6 {
        flex: 0 0 48.5%;
        max-width: 48.5%;
    }

    .col-sm-9 {
        flex: 0 0 74.5%;
        max-width: 74.5%;
    }
}

@media (min-width: 900px) {
    .col-md-3 {
        flex: 0 0 23.5%;
        max-width: 23.5%;
    }
    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}




/*---------- UTILITY CSS ----------*/

.fw-600 {
    font-weight: 600;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.d-none {
    display: none;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

/* padding */
.p-16 {
    padding: 16px;
}

.p-36 {
    padding: 36px;
}
.pt-24 {
    padding-top: 24px;
}

.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-12 {
    padding-right: 12px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-24 {
    padding-right: 24px;
}

.pr-36 {
    padding-right: 36px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-12 {
    padding-left: 12px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-24 {
    padding-left: 24px;
}

.pl-36 {
    padding-left: 36px;
}

.pl-84 {
    padding-left: 84px;
}

/* margin */

.mt-16 {
    margin-top: 16px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-36 {
    margin-top: 36px;
}
.mt-84 {
    margin-top: 84px;
}

.mb-16 {
    margin-bottom: 16px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mb-84 {
    margin-bottom: 84px;
}
.ml-12 {
    margin-left: 12px;
}
.ml-16 {
    margin-left: 16px;
}
.ml-24 {
    margin-left: 24px;
}
.ml-32 {
    margin-left: 32px;
}

.mr-12 {
    margin-right: 12px;
}

.bb {
    border-bottom: 1px solid var(--primary);
}
.bt {
    border-top: 1px solid var(--primary);
}

.bb-2 {
    border-bottom: 2px solid var(--black);
}
.bt-2 {
    border-top: 2px solid var(--black);
}

.display-mobile {
    display: none;
}

@media (max-width: 690px) {
    .display-mobile {
        display: flex;
    }
}

.display-desktop {
    display: flex;
}

@media (max-width: 690px) {
    .display-desktop {
        display: none;
    }
}

.section-header {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4em;
}

a {
    cursor: pointer;
}

button {
    padding: 16px;
    border: 1px solid var(--black);
    width: 100%;
}

input:focus {
    outline: none;
}